<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578780347386-7878pshdo0erftbco36itbpn8gpsdoab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578780347386-7878pshdo0erftbco36itbpn8gpsdoab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578780347386-q1o35b9pbk2gnh6r1qtoofr75rmtindm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT--5GdC_NSyKxuPERpyc6A7B9F4xvUbo</string>
	<key>GCM_SENDER_ID</key>
	<string>578780347386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ingressoAquii</string>
	<key>PROJECT_ID</key>
	<string>ingressoaquii-eb010</string>
	<key>STORAGE_BUCKET</key>
	<string>ingressoaquii-eb010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578780347386:ios:208759b5711c2a9e06c243</string>
</dict>
</plist>